/* Contenedor principal que utiliza flexbox para dividir verticalmente */
.vertical-container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
}

/* Div left */
.left-div {
    
    flex: 1; 
    display: flex;
    justify-content: center;
    
}

/* Div right */
.right-div {
    background-color: #f44336; 
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
}
